body {
  font-family: Arial;
  text-align: center;
  background: #dfe6e9;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
}

button {
  padding: 8px 16px;
  margin: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 10px;
  margin: 5px auto;
  width: 60%;
  border-radius: 5px;
}
